body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: row;
}

#menu {
    flex-grow: 0;
    width: 200px;
}

#content {
    display: flex;
    flex-grow: 4;
    flex-direction: column;
}

#settings {
    flex-grow: 0;
    width: 200px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.queue {
    display: flex;
    flex-grow: 1;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
}

.current {
    font-weight: bold;
    font-size: 2.3em;
    margin: 30px 20px;
}

#tail {
    justify-content: flex-end;
}

.vertical-gap {
    height: 10em;
}
