.row {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.queue {
    display: flex;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
}

.current {
    font-weight: bold;
    font-size: 2.3em;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
}

#tail {
    justify-content: flex-end;
}

.vertical-gap {
    height: 10em;
}
